data/*.sql
data/*.zip
data/*.accdb
data/log.txt
data/110117log.txt
data/112417log.txt
data/032218log.txt
*.ipynb_checkpoints
*.pyc
.DS_Store
model/*.pkl
model/23OCT17_modeldev_v2/
model/24OCT17_pipelinerun/
model/25OCT17_repeatablefeaturesrun/
model/26OCT17_finalfitmodels/
model/30OCT17_finalfitmodelsv2/
data/cleaned_df_24NOV17.pkl
data/cleaned_df_22MAR18.pkl
model/24NOV17_dbupdatemodels/
